<app-header title="Spinner"></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item color="warning">
      <ion-label>Default</ion-label>
      <ion-spinner></ion-spinner>
    </ion-item>
    
    <ion-item color="danger"> 
      <ion-label>Dots</ion-label>
      <ion-spinner name="dots"></ion-spinner>
    </ion-item>
    
    <ion-item color="success">
      <ion-label>Lines</ion-label>
      <ion-spinner name="lines"></ion-spinner>
    </ion-item>
    
    <ion-item color="primary">
      <ion-label>Lines Small</ion-label>
      <ion-spinner name="lines-small"></ion-spinner>
    </ion-item>
    
    <ion-item color="secondary">
      <ion-label>Lines Sharp</ion-label>
      <ion-spinner name="lines-sharp"></ion-spinner>
    </ion-item>
    
    <ion-item color="tertiary">
      <ion-label>Lines Sharp Small</ion-label>
      <ion-spinner name="lines-sharp-small"></ion-spinner>
    </ion-item>
    
    <ion-item color="warning">
      <ion-label>Bubbles</ion-label>
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-item>
    
    <ion-item color="danger">
      <ion-label>Circles</ion-label>
      <ion-spinner name="circles"></ion-spinner>
    </ion-item>
    
    <ion-item color="success">
      <ion-label>Circular</ion-label>
      <ion-spinner name="circular"></ion-spinner>
    </ion-item>
    
    <ion-item color="primary">
      <ion-label>Crescent</ion-label>
      <ion-spinner name="crescent"></ion-spinner>
    </ion-item>
  </ion-list>
</ion-content>
