<app-header title="Buttons"></app-header>

<ion-content [fullscreen]="true">
  <h6 class="ion-margin-start">Basic Buttons</h6>
  <ion-button>Botoncito</ion-button>
  <ion-button disabled="true">Basic Button</ion-button>

  <h6 class="ion-margin-start">Color Buttons</h6>
  <ion-button color="success">Botoncito</ion-button>
  <ion-button color="danger">Botoncito</ion-button>
  <ion-button color="secondary">Botoncito</ion-button>
  <ion-button color="tertiary">Botoncito</ion-button>
  <ion-button color="warning">Botoncito</ion-button>
  <ion-button color="dark">Botoncito</ion-button>
  <ion-button color="medium">Botoncito</ion-button>

  <h6 class="ion-margin-start">Expand Buttons</h6>
  <ion-button expand="full">Full expand</ion-button>
  <ion-button expand="block">Block</ion-button>
  
  <h6 class="ion-margin-start">Shape Buttons</h6>
  <ion-button color="medium" shape="round">Round Button</ion-button>
  <ion-button color="primary" shape="round">
    <ion-icon name="beer" slot="icon-only"></ion-icon>
  </ion-button>

  <h6 class="ion-margin-start">Fill Buttons</h6>
  <ion-button color="dark" fill="clear">Clear Button</ion-button>
  <ion-button color="danger" fill="solid">Soild Button</ion-button>
  <ion-button color="secondary" fill="outline">Soild Outline</ion-button>

  <h6 class="ion-margin-start">Size Buttons</h6>
  <ion-button color="primary" size="small">Small Button</ion-button>
  <ion-button color="warning" size="default">Default Button</ion-button>
  <ion-button color="tertiary" size="large">Large Button</ion-button>

  <h6 class="ion-margin-start">Icon Buttons</h6>
  <ion-button color="success">
    <ion-icon name="beer" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button color="danger">Chelita
    <ion-icon name="beer" slot="start"></ion-icon>
  </ion-button>
  <ion-button color="warning">Chelita
    <ion-icon name="beer" slot="end"></ion-icon>
  </ion-button>

  <h6 class="ion-margin-start">Custom Button</h6>
  <ion-button class="myButton">Hola</ion-button>

  <h6 class="ion-margin-start">My Buttons</h6>
  <ion-button color="warning" size="small" shape="round">Button
    <ion-icon name="beer" slot="end"></ion-icon>
  </ion-button>
  <ion-button color="black" size="large" disabled="true" fill="outline" shape="round">Default Button</ion-button>
  <ion-button color="tertiary" fill="clear" expand="full" class="myBut">Default Button</ion-button>

  <ion-button fill="clear" class="myS">
    <ion-icon name="beer" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button color="secondary" size="large" fill="solid" expand="block" disabled="true"><ion-icon name="beer" slot="icon-only"></ion-icon></ion-button>
</ion-content>
