<app-header title="Item"></app-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Artículo Básico</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      Texto de varias líneas que debería ajustarse cuando es demasiado largo para caber en una línea. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit.
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label class="ion-text-nowrap">
      Texto de varias líneas que debería mostrar puntos suspensivos cuando es demasiado largo para caber en una línea. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit.
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <h1>Encabezado H1</h1>
      <p>Párrafo</p>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <h2>Encabezado H2</h2>
      <p>Párrafo</p>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <h3>Encabezado H3</h3>
      <p>Párrafo</p>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <h4>Encabezado H4</h4>
      <p>Párrafo adicional</p>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <h5>Encabezado H5</h5>
      <p>Otro párrafo</p>
    </ion-label>
  </ion-item>
</ion-content>
