<app-header title="Chips"></app-header>
<ion-content [fullscreen]="true">
  <ion-chip>
    Soy un chip
  </ion-chip>
  <ion-chip disabled="true">
    Deshabilitado
  </ion-chip>
  <ion-chip outline="true">
    Outline
  </ion-chip>
  <!-- <ion-chip>
    <ion-label>Primary</ion-label>
  </ion-chip>
  <ion-chip color="secondary">
    <ion-label>Secondary</ion-label>
  </ion-chip>
  <ion-chip color="tertiary">
    <ion-label>Tertiary</ion-label>
  </ion-chip>
  <ion-chip color="success">
    <ion-label>Success</ion-label>
  </ion-chip>
  <ion-chip color="warning">
    <ion-label>Warning</ion-label>
  </ion-chip>
  <ion-chip color="danger">
    <ion-label>Danger</ion-label>
  </ion-chip>
  <ion-chip color="light">
    <ion-label>Light</ion-label>
  </ion-chip>
  <ion-chip color="medium">
    <ion-label>Medium</ion-label>
  </ion-chip>
  <ion-chip color="dark">
    <ion-label>Dark</ion-label>
  </ion-chip>
  <ion-chip color="primary">
    <ion-label>Primary</ion-label>
  </ion-chip>
  <ion-chip color="secondary">
    <ion-label>Secondary</ion-label>
  </ion-chip>
  <ion-chip color="tertiary">
    <ion-label>Tertiary</ion-label>
  </ion-chip>
  <ion-chip color="success">
    <ion-label>Success</ion-label>
  </ion-chip>
  <ion-chip color="warning">
    <ion-label>Warning</ion-label>
  </ion-chip>
  <ion-chip color="danger">
    <ion-label>Danger</ion-label>
  </ion-chip>
  <ion-chip color="light">
    <ion-label>Light</ion-label>
  </ion-chip>
  <ion-chip color="medium">
    <ion-label>Medium</ion-label>
  </ion-chip>
  <ion-chip color="dark">
    <ion-label>Dark</ion-label>
  </ion-chip>
  <ion-chip color="primary">
    <ion-label>Primary</ion-label>
  </ion-chip>
  <ion-chip color="secondary">
    <ion-label>Secondary</ion-label>
  </ion-chip> -->

  <ion-chip>
    <ion-avatar>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTUslXqwlwWkZ9BLwBgLp4kXz2MImmzQbltQ&s">
    </ion-avatar>
    <ion-label>Conker's</ion-label>
  </ion-chip>

  <ion-chip color="warning">
    Uno
  </ion-chip>

  <ion-chip color="success">
    Dos
  </ion-chip>

  <ion-chip color="primary">
    Tres
  </ion-chip>
</ion-content>
