
  <ion-toolbar>
    <ion-title>Registrar</ion-title>
    <ion-button slot="end" color="tertiary" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-input placeholder="Escribe tu nombre..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Escribre tu password..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Escribe tu email..."></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" color="danger" id="open-toast" (click)="closeModal()">Registrar</ion-button>
    <ion-toast color="success" trigger="open-toast" message="Usuario Registrado" duration="1000"></ion-toast>
  </ion-content>
