<app-header title="Avatar"></app-header>>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTUslXqwlwWkZ9BLwBgLp4kXz2MImmzQbltQ&s" />
    </ion-avatar>
  </ion-item>
  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTUslXqwlwWkZ9BLwBgLp4kXz2MImmzQbltQ&s" />
      </ion-avatar>
      <ion-label>Chip Avatar</ion-label>
    </ion-chip>
  </ion-item>
  <ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTUslXqwlwWkZ9BLwBgLp4kXz2MImmzQbltQ&s" />
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-avatar style="--border-radius: 4px;">
      <img alt="Silhouette of a person's head" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTUslXqwlwWkZ9BLwBgLp4kXz2MImmzQbltQ&s" />
    </ion-avatar>
  </ion-item>
</ion-content>
