<app-header title="Alerts"></app-header>
<ion-content [fullscreen]="true">
  <ion-button (click)="openAlert()" expand="full" color="tertiary" class="ion-margin-top">Open Alert</ion-button>
  <ion-button (click)="openAlert2()" expand="full" color="danger" class="ion-margin-top">Open Alert</ion-button>
  <ion-button (click)="login()" expand="full" color="warning" class="ion-margin-top">Login</ion-button>
  <ion-button (click)="alertMusic()" expand="full" color="dark" class="ion-margin-top">Elije tu musica favorita</ion-button>
  <ion-button (click)="register()" expand="full" color="dark" class="ion-margin-top">Registro</ion-button>
</ion-content>
