<app-header title="Picker"></app-header>
<ion-content [fullscreen]="true">
  <ion-picker>
    <ion-picker-column value="javascript">
      <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
      <ion-picker-column-option value="python">Python</ion-picker-column-option>
      <ion-picker-column-option value="java">Java</ion-picker-column-option>
      <ion-picker-column-option value="go">Go</ion-picker-column-option>
      <ion-picker-column-option value="ruby">Ruby</ion-picker-column-option>
      <ion-picker-column-option value="php">PHP</ion-picker-column-option>
      <ion-picker-column-option value="javascript">JavaScript</ion-picker-column-option>
      <ion-picker-column-option value="typescript">TypeScript</ion-picker-column-option>
      <ion-picker-column-option value="rust">Rust</ion-picker-column-option>
      <ion-picker-column-option value="csharp">C#</ion-picker-column-option>
    </ion-picker-column>
  </ion-picker>
</ion-content>
